.box{
    display: inline-block;
}
.image{
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-left: 20px;
    float: left;
}
.button{
    margin-right: 10px;
    margin-bottom: 20px;
    float: right;
}

.title {
    /* padding-top: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */
    color: firebrick;
    font-size: 50px;
}
.text{
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */
    font-size: 25px;
}
.date {
    /* margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; */
    font-weight: bolder;
    font-size: 25px;
}
.clear{
    clear: both;
}