.image{
    border:20px solid;
    border-color: firebrick;
    border-radius: 50%;
    width: 220px;
    height: 123.8px;
}

@media only screen and (max-width: 2560px) { 
    /* For 4K */   
    [class*="image"] {
        border: 70%;
        width: 70%;  
        height:70%;
        border-radius: 50%;
    }
}  


@media only screen and (min-width: 768px) {  
    /* For tablet */  
    [class*="image"] {
        font-size: 70%;
        width: 70%;  
        height:70%;
        border-radius: 50%;
    }  
}  


@media only screen and (min-width: 1024px) { 
    /* For Laptop */  
    [class*="image"] {
        font-size: 70%;
        width: 70%;  
        height:70%;
        border-radius: 50%;
    } 
}